<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW3vLKQZ0dnitpweEhKeqDBG775jaZD4E</string>
	<key>GCM_SENDER_ID</key>
	<string>78899175338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ordi.flutter.fc.ch4FlutterBlocFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fc-firebase-login</string>
	<key>STORAGE_BUCKET</key>
	<string>fc-firebase-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78899175338:ios:24686bf7d174666195d5d3</string>
</dict>
</plist>