<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6eBteHk_n-jiNbylIznMSjWZXF71Gkh0</string>
	<key>GCM_SENDER_ID</key>
	<string>720725296279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ordi.threadClone</string>
	<key>PROJECT_ID</key>
	<string>ordi-threads-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>ordi-threads-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720725296279:ios:5a61a0f5e97077a1ae15d2</string>
</dict>
</plist>